{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About The Job Search App</h1>

    <p>There are 9.8 million people seeking employment opportunities. Job seekers face the challenge of navigating through all the job listings scattered across various platforms. Additionally, filtering through job listings based on personal preferences and skills makes the process overwhelming and time-consuming. The Job Search App fixes these problems by including the most relevant job specificaitons, provides simple querying instructions and a user-friendly interface, and returns simple, easily interpreted results.</p>


{% endblock %}


