<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employment App</title>
</head>
<body>

    <h1>About The Employment App</h1>

    <p>The Employment App has a database of available jobs in London. Simply answer the prompts to find the perfect job for you. </p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/hello">Hello</a></li>
        </ul>
    </nav>

    <footer>
        <p>My footer</p>
    </footer>

</body>
</html>