{% extends "bootstrap_5_layout.html" %}
{% set active_page = "complex_form" %}

{% block content %}
<h2>Complex Job Search Form</h2>

<p>Request some job search data...</p>

<form action="/complex/dashboard" method="POST">
    <label for="job_search">What kind of job are you looking for?</label>
    <input type="text" id="job_search" name="what" placeholder="Software Engineer" value="Software Engineer">
    <br>
    <label for="job_search">Do you have a salary preference (yes or no)"?</label>
    <input type="text" id="job_search" name="salary_pref" placeholder="yes" value="yes">
    <br>
    <label for="job_search">What is your preferred salary minimum in euros? (If no to previous question, input 0)</label>
    <input type="text" id="job_search" name="salary_min" placeholder="0" value="0">
    <br>
    <label for="job_search">Do you want a full time job? Please type yes or no</label>
    <input type="text" id="job_search" name="full_time" placeholder="yes" value="yes">
    <br>
    <label for="job_search">Do you want a permanent job? Please type yes or no</label>
    <input type="text" id="job_search" name="permanent" placeholder="yes" value="yes">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}