{% extends "bootstrap_5_layout.html" %}
{% set active_page = "hello" %}

{% block content %}

    <h1>How to Use</h1>

    <p>The Job Search App has two separate queries: the Simple Job Search and the Complex Job Search. The Simple Job Search will simply ask the user to input the type of job they are looking for, and the app will provide a list of relevant listings. The Complex Job Search asks the user for more information, such as salary preference and full-time preference, to provide a list of jobs that more closely match the user's preferences. </p>

{% endblock %}


