{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}


{% block content %}

    <h1>Welcome to the Job Search App!</h1>

    <p>The Job Search App is the place for you to find the perfect job!</p>


        <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.pexels.com/photos/1181605/pexels-photo-1181605.jpeg?auto=compress&cs=tinysrgb&w=1200" class="d-block w-100" alt="...">
                </div>
    
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?auto=compress&cs=tinysrgb&w=1200" class="d-block w-100" alt="...">
                </div>
    
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/5387258/pexels-photo-5387258.jpeg?auto=compress&cs=tinysrgb&w=1200" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

{% endblock %}