<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Web App</title>
</head>
<body>

  <!-- SITE NAVIGATION -->
  <div class="container">
    <nav>
      <h1><a href="/">Employment App</a></h1>
      <ul>i 
          <li><a href="/about">About</a></li>
          <li><a href="/hello">How To Use</a></li>
          <li><a href="/simple/dashboard">Simple Job Search</a></li>
          <li><a href="/complex/dashboard">Complex Job Search</a></li>

      </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Doherty, Mocknick, Panchich Copyright 2023 
    </footer>
  </div>

</body>
</html>