{% extends "bootstrap_5_layout.html" %}
{% set active_page = "simple_form" %}

{% block content %}
<h2>Simple Job Search Form</h2>

<p>Request some job search data...</p>

<form action="/simple/dashboard" method="POST">
    <label for="job_search">What kind of job are you looking for?</label>
    <input type="text" id="job_search" name="what" placeholder="Software Engineer" value="Software Engineer">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}